/* Component - Labels */
.btn {
    display: inline-flex;
    align-items: center;
    padding: 12px 15px;
    color: #9c9c9c;
    background-color: #fff;
    border: 2px solid #f0eded;
    border-radius: 3px;
    
    &:hover,
    &:focus {
        color: #9c9c9c;
    }
    
    &:hover {
        box-shadow: 0 2px 16px rgba(1, 73, 115, 0.05);
    }
    
    img {
        width: 15px;
        margin-right: 12px;
    }
}

.btn--danger {
    color: #fff;
    background-color: #f1644c;
    border-color: #f1644c;
    
    &:hover {
        color: #fff;
    }
}
