/** General **/
body {
    color: #323232;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    word-break: break-word;
}

img {
    max-width: 100%;
    height: auto;
}

p:last-child {
    margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 700; }

.h2 { font-size: 36px; }
.h3 { font-size: 30px; line-height: 40px; }
.h4 { font-size: 25px; line-height: 35px; }
.h5 { font-size: 22px; line-height: 32px; }


/** Helper Classes **/
.mt-1 { margin-top: 1px !important; }
.mt-2 { margin-top: 2px !important; }
.mt-3 { margin-top: 3px !important; }
.mt-4 { margin-top: 4px !important; }
.mt-5 { margin-top: 5px !important; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }

.mb-8 { margin-bottom: 8px; }
.mb-10 { margin-bottom: 10px; }
.mb-12 { margin-bottom: 12px; }
.mb-18 { margin-bottom: 18px; }
.mb-27 { margin-bottom: 27px; }
.mb-30 { margin-bottom: 30px; }
.mb-37 { margin-bottom: 37px; }
.mb-42 { margin-bottom: 42px; }
.mb-45 { margin-bottom: 45px; }
.mb-52 { margin-bottom: 52px; }

.ml-50 { margin-left: 50px; }

.mr-5 { margin-right: 5px !important; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-50 { margin-right: 50px; }

.pt-1 { padding-top: 1px !important; }
.pt-2 { padding-top: 2px !important; }
.pt-3 { padding-top: 3px !important; }
.pt-4 { padding-top: 4px !important; }
.pt-5 { padding-top: 5px !important; }
.pt-6 { padding-top: 6px; }
.pt-7 { padding-top: 7px; }
.pt-8 { padding-top: 8px; }
.pt-10 { padding-top: 10px; }
.pt-20 { padding-top: 20px; }
.pt-30 { padding-top: 30px; }
.pt-40 { padding-top: 40px; }
.pt-50 { padding-top: 50px; }
.pt-70 { padding-top: 70px; }
.pt-72 { padding-top: 72px; }
.pt-80 { padding-top: 80px; }
.pt-100 { padding-top: 100px; }

.pb-1 { padding-bottom: 1px !important; }
.pb-2 { padding-bottom: 2px !important; }
.pb-3 { padding-bottom: 3px !important; }
.pb-4 { padding-bottom: 4px !important; }
.pb-5 { padding-bottom: 5px !important; }
.pb-6 { padding-bottom: 6px; }
.pb-7 { padding-bottom: 7px; }
.pb-8 { padding-bottom: 8px; }
.pb-9 { padding-bottom: 9px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-30 { padding-bottom: 30px; }
.pb-40 { padding-bottom: 40px; }
.pb-50 { padding-bottom: 50px; }
.pb-60 { padding-bottom: 60px; }
.pb-70 { padding-bottom: 70px; }
.pb-80 { padding-bottom: 80px; }
.pb-100 { padding-bottom: 100px; }

.pl-10 { padding-left: 10px; }

.pr-10 { padding-right: 10px; }

.row.gutter-15 {
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.row.gutter-15 > div {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.color-1 { color: #323232; }
.color-2 { color: #173f35; }
.color-3 { color: #4753ae; }
.color-4 { color: #737373; }

.bg-color-1 { background-color: #eef7f2; }
.bg-color-2 { background-color: #f8f9fa; }
.bg-color-3 { background-color: #e2e3e3; }

.link-inherit,
.link-inherit:hover { color: inherit; }

.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-26 { font-size: 26px; }
.fs-28 { font-size: 28px; }
.fs-30 { font-size: 30px; }
.fs-32 { font-size: 32px; }
.fs-53 { font-size: 53px; }

.lh-42 { line-height: 42px; }

.fw-700 { font-weight: 700; }


/** Components **/
.btn {
    color: #fff;
    background-color: #7bc142;
    font-size: 46px;
    font-weight: 700;
}
.btn:hover {
    color: #fff;
}
.btn:focus {
    box-shadow: none;
}
.btn > img {
    display: inline-block;
    width: 62px;
}

.btn-outline {
    padding-top: 10px;
    padding-bottom: 5px;
    color: #323232;
    background-color: transparent;
    border: 2px solid #aeaeae;
    font-size: 30px;
}
.btn-outline:hover {
    color: #323232;
}

.form-control {
    height: 40px;
    padding: 10px;
    border-color: #d8d8d8;
    border-radius: 0;
    font-size: 14px;
}
.form-control:focus {
    border-color: #999;
    box-shadow: none;
}
.form-control.error {
    border-color: #ff4500;
}


/** Modules **/
.list-icon-check {
    padding-left: 0;
    list-style: none;
}
.list-icon-check > li {
    position: relative;
    padding-left: 30px;
}
.list-icon-check > li > img {
    position: absolute;
    top: 1px;
    left: -7px;
    width: 33px;
}

.price_text > em {
    margin-right: 15px;
    font-size: 150%;
    font-style: normal;
}
.price_text > del {
    margin-right: 20px;
    color: #c40000;
}

.quote > p {
    line-height: 25px;
}

.entry-content h2 {
    margin-bottom: 29px;
    font-size: 41px;
    line-height: 53px;
    font-weight: 700;
}
.entry-content p + h2 {
    margin-top: 62px;
}
.entry-content p {
    font-size: 28px;
    line-height: 38px;
}
.entry-content p:not(:last-child) {
    margin-bottom: 32px;
}

.billing_toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    z-index: 0;
}
.billing_toggle:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #3b88fd;
    border-radius: 4px;
}
.billing_toggle > img {
    width: 22px;
    margin-right: 10px;
    background-color: #3b88fd;
    border-radius: 4px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}
.billing_toggle.collapsed > img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.notice_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 10px;
    border: 3px solid #4652ad;
    border-radius: 10px;
}
.notice_1 > img {
    display: block;
    width: 35px;
    margin-right: 15px;
    background-color: #4652ad;
    border-radius: 50%;
    text-align: center;
}
.notice_1_content > h4 {
    margin-bottom: 0;
    color: #4652ad;
    font-size: 18px;
    font-weight: 700;
}
.notice_1_content > p {
    color: #464646;
    font-size: 15px;
}

.notice_1.notice_1-small {
    padding-left: 8px;
    padding-right: 8px;
}
.notice_1.notice_1-small > div > h4 {
    font-size: 14px;
}
.notice_1.notice_1-small > div > p {
    padding-top: 4px;
    font-size: 14px;
    line-height: 16px;
}

.tab_nav {
    margin: 0 -7.5px;
    color: #6c757d;
    font-size: 14px;
    font-weight: 700;
}
.tab_nav > li {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 7.5px;
}
.tab_nav > li > a {
    display: block;
    position: relative;
    padding: 11px 10px 11px 40px;
    color: inherit;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    text-decoration: none;
    -webkit-transition: border-color .25s;
    transition: border-color .25s;
    overflow: hidden;
    z-index: 0;
}
.tab_nav > li > a.active {
    border-color: #173f35;
}
.tab_nav > li > a:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 45px;
    background-color: #173f35;
    -webkit-transform: rotate(35deg) translateY(-75%);
    transform: rotate(35deg) translateY(-75%);
    opacity: 0;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
}
.tab_nav > li > a.active:before {
    opacity: 1;
}
.tab_nav > li > a > .check {
    position: absolute;
    top: 1px;
    right: 2px;
    width: 20px;
}
.tab_nav > li > a > .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 24px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.tab_nav > li > a > .icon-cc {
    width: auto;
}


/** Header **/
.header_section {
    padding: 30px 0;
    background-color: #173f35;
    text-align: center;
}


/** Logo **/
.logo {
    display: inline-block;
}


/** Product **/
.product_title {
    margin-bottom: 45px;
}


/** Checkout Form **/
.checkout_form {
    display: none;
}
.checkout_form.wizard {
    display: block;
}

.checkout_form > .steps {
    display: none;
}
.checkout_form > .steps > ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #d7d7d7;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 0;
}
.checkout_form > .steps > ul > li {
    position: relative;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 3px;
}
.checkout_form > .steps > ul > li:first-child {
    color: #1d1f4a;
    padding-right: 50px;
}
.checkout_form > .steps > ul > li:first-child:after {
    content: " ";
    position: absolute;
    top: 0;
    right: -50px;
    border-style: solid;
    border-width: 22.5px 25px;
    border-color: transparent transparent transparent #fff;
    z-index: 1;
}
.checkout_form > .steps > ul > li:last-child {
    padding-left: 50px;
}
.checkout_form > .steps > ul > li.current {
    color: #fff;
    background-color: #1d1f4a;
}
.checkout_form > .steps > ul > li.current:first-child:after {
    border-left-color: #1d1f4a;
}
.checkout_form > .steps > ul > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
}
.checkout_form > .steps > ul > li:first-child > a {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.checkout_form > .steps > ul > li.disabled > a {
    cursor: text;
}
.checkout_form > .steps > ul > li > a > .current-info {
    display: none;
}
.checkout_form > .steps > ul > li > a > .number {
    width: 35px;
    margin-right: 8px;
    margin-bottom: 2px;
    color: #fff;
    background-color: #d7d7d7;
    border-radius: 50%;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}
.checkout_form > .steps > ul > li:first-child > a > .number {
    color: #fff;
    background-color: #1d1f4a;
}
.checkout_form > .steps > ul > li.current > a > .number {
    color: #1d1f4a;
    background-color: #fff;
}

.checkout_form > .content > h2 {
    display: none;
}

.checkout_form_contents {
    background-color: #f8f9fa;
}

.checkout_timeout {
    margin-bottom: 0;
    padding: 9px 15px 12px;
    color: #876f45;
    background-color: #fff3cd;
    font-size: 20px;
    text-align: center;
}
.checkout_timeout > span {
    display: block;
    max-width: 350px;
    margin: 0 auto;
}

.checkout_form_wrapper {
    max-width: 380px;
    margin: 0 auto;
    padding: 0 15px;
}

.checkout_form > .actions {
    background-color: #f8f9fa;
}
.checkout_form > .actions > ul {
    max-width: 380px;
    margin: 0 auto;
    padding: 30px 15px 0;
    list-style: none;
}
.checkout_form > .actions > ul > li:first-child {
    display: none;
}
.checkout_form > .actions > ul > li > a {
    display: block;
    padding: 9px 10px;
    color: #fff;
    background-color: #7bc142;
    border-radius: 4px;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}
.checkout_form.working > .actions > ul > li > a {
    opacity: 0.55;
    pointer-events: none;
}

.checkout_footer {
    background-color: #f8f9fa;
}
.checkout_footer > .container {
    max-width: 380px;
}

.checkout_subtotal {
    margin-bottom: 0;
    color: #747474;
    font-size: 14px;
}
.checkout_subtotal th {
    padding: 8px 0 9px;
    border-top-width: 0;
    border-bottom: 1px solid #d7d7d7;
    font-weight: 400;
}
.checkout_subtotal td {
    padding: 8px 0 9px;
    border-top-width: 0;
    border-bottom: 1px solid #d7d7d7;
    text-align: right;
}


/** Media Queries **/
@media (max-width: 991px) {
    body {
        font-size: 16px;
    }
    
    .h1 { font-size: 32px; }
    .h2 { font-size: 30px; }
    .h3 { font-size: 25px; line-height: 35px; }
    .h4 { font-size: 20px; line-height: 30px; }
    .h5 { font-size: 18px; line-height: 28px; }

    .fs-12 { font-size: 10px; }
    .fs-16 { font-size: 14px; }
    .fs-18 { font-size: 16px; }
    .fs-20 { font-size: 18px; }
    .fs-26 { font-size: 22px; }
    .fs-28 { font-size: 24px; }
    .fs-30 { font-size: 28px; }
    .fs-32 { font-size: 30px; }
    .fs-53 { font-size: 45px; }
    
    .entry-content h2 {
        font-size: 26px;
        line-height: 36px;
    }
    .entry-content p {
        font-size: 18px;
        line-height: 28px;
    }
}
